<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" />
    <title>Document</title>
</head>

<body>
    <div class="container" style="padding-top: 20px;" id="certificado">
        <div class="row mx-auto">
            <div class="col mx-auto">
                <img src="../../assets/istl000.png" class="card-img-top img-fluid">
            </div>
            <div class="col  mx-auto">
                <img src="../../assets/SENESCYT.png" class="card-img-top img-fluid">
            </div>
            <div class="col mx-auto">
                <img src="../../assets/GADVILCA.png" class="card-img-top img-fluid">
            </div>
        </div>
        <div class="row" *ngFor="let user of Usuario" style="padding-top: 50px;">
            <!--
            
            
            
            
            
            
            
             
        -->
            <div class="col-md mx-auto">
                <div>
                    <h1 class="text-center" style="font-size:30px;">CERTIFICA</h1>
                    <h1 class="text-center"style="font-size: 30px;">A</h1>
                    <h1 class="text-center"style="font-size:30px;">{{user.names}}</h1>
                    <br>
                    <p class="text-center" style="font-weight:normal;font-size:30px;">Por haber asistido a la Capacitación de {{user.name_carrer}} bajo el
                        Proyecto “{{user.name_project}}”,<br> en el barrio {{user.barrio}}, parroquia {{user.parroquia}}, del Cantón Loja,
                        con una duración de {{user.horas}} horas.</p>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6" >
                        ________________________________<br>
                        Dr. Richard Ruiz Ordoñez<br>
                        RECTOR DEL <br>
                        SUPERIOR TECNOLOGICO LOJA
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col">
                        ________________________________<br>
                        Carlos Ortiz PREFECTO DEL GOBIERNO<br>
                        DE VILCABAMBA
                    </div>
                </div>
                <br>
                <h2 class="fecha text-center"> Loja, {{fechaactual}}</h2>
                <b>
                    <p class="codigo">{{user.codigo}}</p>
                </b>
            </div>
        </div>
    </div>
    
    <form>
        <div class="row mx-auto">
            <div class="col-md-4 mx-auto">
                <button type="submit" class="btn btn-dark" (click)="print()">Imprimir</button>
            </div>
            <div class="col-md-3 ">
                <button type="submit" class="btn btn-dark" (click)="volver()">Volver</button>
            </div>
        </div>           
    </form>
</body>



</html>